* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  text-align: center;
}

/* NAV BAR */
#header-img {
  width: 100px;
  height: 70px;
  cursor: pointer;
}

li, a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252a;
  width: 100%;
  position: absolute;
  top: 0;
  position: fixed;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

/* VIDEO */
#video {
  margin-top: 10rem;
}
#video h1{
  margin-bottom: 2rem;
  color: black;
}



/* PRODUCTS */

.grid-container {
  color: black;
  width: 60%;
  margin: 2rem auto;
  background-color: black;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container img {
  width: 250px;
}

.grid-item {
  background-color: lightgray;
}

.products h1{
  color: black;
  margin-top: 3.5rem;
}

/* Form */
.sign-up-page {
  color: black;
}
h2 {
  font-size: 2rem;
  margin: 10px;
}
label {
  font-size: 2rem;
}
input {
  padding: 8px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 1.5rem;
}
#submit {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
}

#submit:hover {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: black;
  padding: 10px;
  margin-top: 3rem;
}



/* MEDIA QUEARIS */

@media ()
